name: Build Lists

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * 4'

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: build-${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup PHP
        uses: shivammathur/setup-php@0f7f1d08e3e32076e51cae65eb0b0c871405b16e # v2
        with:
          php-version: '8.2'
          ini-values: memory_limit=1G

      - name: Build
        run: php build.php

      - name: Commit changes
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add -A
          git diff-index --quiet HEAD || git commit -m "Automated build"
          git push