name: Build Lists

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * 4'

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: build-${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: '8.2'
          ini-values: memory_limit=1G

      - name: Build
        run: php build.php

      - name: Commit changes
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add -A
          git diff-index --quiet HEAD || git commit -m "Automated build"
          git push