name: Build Lists

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * 4'

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: build-${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Setup PHP
        uses: shivammathur/setup-php@6d7209f44a25a59e904b1ee9f3b0c33ab2cd888d # v2
        with:
          php-version: '8.2'
          ini-values: memory_limit=1G

      - name: Build
        run: php build.php

      - name: Commit changes
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add -A
          git diff-index --quiet HEAD || git commit -m "Automated build"
          git push